.list:hover {
    color: rgb(255, 2, 2);

  }

.list{
    cursor: pointer; 
    list-Style: none;
    display: inline-flex;
    padding: 10px;
    margin: 0 auto
}
.scroll-body {
    overflow: auto; 
    -webkit-overflow-scrolling: touch
}